In [1]:
import pandas as pd
import numpy as np
import requests
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from time import sleep
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [2]:
# # IF you are getting 403 or any https error use the code below according to www.whatismybrowser.com
# my_header = {"User-Agent":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:97.0) Gecko/20100101 Firefox/97.0", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}
# lnk = requests.get('https://www.ambitionbox.com/list-of-companies?page=1',headers=my_header)

In [3]:
# soup = BeautifulSoup(lnk.content, 'html.parser')

In [4]:
# soup.find_all('h1')[0].text
# len(soup.find_all('h2'))

In [5]:
# title = []
# for i in soup.find_all('h2'):
#     title.append(i.text.strip())

In [6]:
# print(title)

In [7]:
# len(soup.find_all('p', class_ = 'rating'))

In [8]:
# rating = []
# for i in soup.find_all('p', class_ = 'rating'):
#     rating.append(i.text.strip())

In [9]:
# type(rating)

In [10]:
# review = []
# for i in soup.find_all('a', class_ = 'review-count'):
#     review.append(i.text.strip())

# review

In [11]:
# comp = soup.find_all('div', class_ = 'company-content-wrapper')
# len(comp)

In [12]:
# name =[]
# rating = []
# review = []
# ctype = []
# hq = []
# old = []
# employees = []

# for i in comp:
#     name.append(i.find('h2').text.strip())
#     rating.append(i.find('p', class_ = 'rating').text.strip())
#     review.append(i.find('a', class_ = 'review-count').text.strip())
#     ctype.append(i.find_all('p', class_ = 'infoEntity')[0].text.strip())
#     hq.append(i.find_all('p', class_ = 'infoEntity')[1].text.strip())
#     old.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())
#     employees.append(i.find_all('p', class_ = 'infoEntity')[3].text.strip())

# d = {"Name": name, "Rating":rating, "Review": review, "C-Type": ctype, "HQ": hq, "Old":old, "Employees":employees}

# df = pd.DataFrame(d)

In [27]:
final = pd.DataFrame()


    

for j in range (1,333):
    url = 'https://www.ambitionbox.com/list-of-companies?page={}'.format(j)
    my_header = {"User-Agent":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:97.0) Gecko/20100101 Firefox/97.0", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8"}
    r = requests.get(url, headers= my_header).text

    soup = BeautifulSoup(r, 'html.parser')
    company = soup.find_all('div', class_ = 'company-content-wrapper')

    name =[]
    rating = []
    review = []
    ctype = []
    hq = []
    old = []
    employees = []

    for i in company:

        try:
            name.append(i.find('h2').text.strip())
        except:
            name.append(np.nan)

        try:
            rating.append(i.find_all('p', class_ = 'rating').text.strip())
        except:
            rating.append(np.nan)

        try:
            review.append(i.find('a', class_ = 'review-count').text.strip())
        except:
            review.append(np.nan)

        try:
            ctype.append(i.find_all('p', class_ = 'infoEntity')[0].text.strip())
        except:
            ctype.append(np.nan)
        
        try:
            hq.append(i.find_all('p', class_ = 'infoEntity')[1].text.strip())
        except:
            hq.append(np.nan)

        try:
            old.append(i.find_all('p', class_ = 'infoEntity')[2].text.strip())
        except:
            old.append(np.nan)

        try:
            employees.append(i.find_all('p', class_ = 'infoEntity')[3].text.strip())
        except:
            employees.append(np.nan)

    
    d = {"Name": name, "Rating":rating, "Review": review, "C-Type": ctype, "HQ": hq, "Old":old, "Employees":employees}

    df = pd.DataFrame(d)
    final=final.append(df)

In [14]:
df.shape

(30, 7)

In [17]:
s=Service(ChromeDriverManager().install())
driver = webdriver.Chrome(service=s)

sector = []
site = []
stock = []

pages=1
print(f"Scraped Page No-",end=' ')
data={}

for j in final.Name:
    url=f'https://www.google.com/search?channel=fs&client=ubuntu&q={j}'
    driver.get(url)
    sleep(2)
    page_source=driver.page_source
    clean=BeautifulSoup(page_source,'html.parser')
    

    # For sector
    try:
        parent1=clean.find_all('div',{'class':'TQc1id hSOk2e rhstc4'})
        parent2=parent1[0].find_all('div',{'class':'wwUB2c PZPZlf'})
        final=parent2[0].find_all('span')
        final=final[0].text
        sector.append(final)
    except:
        sector.append(np.nan)
        
    # For site
    try:
        parent2=parent1[0].find_all('a',{'class':'B1uW2d ellip PZPZlf'})
        final=parent2[0].find_all('span',{'class':'ellip'})
        final=final[0].text
        site.append(final)
    except:
        site.append(np.nan)

    # For stock
    
    # parent1=clean.find_all('div',{'class':'sATSHe'})
    # parent2=parent1[0].find_all('div',{'class':'wDYxhc'})
    # parent3=parent2[0].find_all('div',{'class':'Z1hOCe'})
    # parent4=parent3[0].find_all('div',{'class':'zloOqf PZPZlf'})
    # parent5=parent4[0].find_all('span',{'class':'kno-fv'})
    # st=parent5.find_all('span')
        # final=parent3[3].text
        # stock.append(final)
   
#stock.append(np.nan)





driver.quit()

Scraped Page No-

NameError: name 'st' is not defined

In [29]:
d = {"Site": site, "Sector":sector}
df = pd.DataFrame(d)

In [30]:
 final=final.append(df)

In [32]:
final.to_csv('finel.csv', index=False)

In [ ]:
len(parent5.find_all('span'))

NameError: name 'parent5' is not defined

In [ ]:
# f = {"Name": name, "Rating":rating, "Review": review, "C-Type": ctype, "HQ": hq, "Old":old, "Employees":employees}
# dfd = pd.DataFrame(f)

In [ ]:
#dfd

,Name,Rating,Review,C-Type,HQ,Old,Employees
0,TCS,NaN,(30.6k Reviews),Public,"Mumbai,Maharashtra + 216 more",54 years old,1 Lakh+ employees (India)
1,Accenture,NaN,(21.9k Reviews),Public,"Dublin,Dublin + 125 more",33 years old,1 Lakh+ employees (India)
2,Cognizant,NaN,(20.1k Reviews),Private,"Teaneck,New Jersey + 76 more",28 years old,1 Lakh+ employees (India)
3,ICICI Bank,NaN,(26.3k Reviews),Public,"Mumbai,Maharashtra + 917 more",28 years old,50k-1 Lakh employees (India)
4,HDFC Bank,NaN,(27.7k Reviews),Public,"Mumbai,Maharashtra + 994 more",28 years old,1 Lakh+ employees (India)
5,Wipro,NaN,(18.6k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 229 more",77 years old,1 Lakh+ employees (India)
6,Capgemini,NaN,(15.3k Reviews),Public,Paris + 62 more,55 years old,1 Lakh+ employees (India)
7,HCL Technologies,NaN,(15.6k Reviews),Public,"Noida,Uttar Pradesh + 140 more",46 years old,1 Lakh+ employees (India)
8,Infosys,NaN,(19.2k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 106 more",41 years old,1 Lakh+ employees (India)
9,Tech Mahindra,NaN,(15.1k Reviews),Public,"Pune,Maharashtra + 154 more",36 years old,50k-1 Lakh employees (India)
10,Genpact,NaN,(14.9k Reviews),Private,"New York,New York + 51 more",25 years old,50k-1 Lakh employees (India)
11,Axis Bank,NaN,(14.5k Reviews),Public,"Mumbai,Maharashtra + 903 more",29 years old,50k-1 Lakh employees (India)
12,Vodafone Idea,NaN,(11.7k Reviews),Public,"Gandhinagar,Gujrat + 516 more",4 years old,10k-50k employees (India)
13,Reliance jio,NaN,(11.5k Reviews),Public,"Navi Mumbai,Maharashtra + 813 more",15 years old,10k-50k employees (India)
14,L&T,NaN,(22.9k Reviews),Public,"Mumbai,Maharashtra + 443 more",84 years old,10k-50k employees (India)
15,IBM,NaN,(11.3k Reviews),Public,New York + 99 more,111 years old,50k-1 Lakh employees (India)
16,Concentrix Corpora...,NaN,(10.9k Reviews),Public,"Fremont,California + 55 more",39 years old,10k-50k employees (India)
17,Amazon,NaN,(10.3k Reviews),Private,"Seattle,Washington + 289 more",28 years old,10k-50k employees (India)
18,HDB Financial Serv...,NaN,(9.9k Reviews),Private,"Ahmedabad,Gujrat + 639 more",15 years old,1 Lakh+ employees (India)
19,Kotak Mahindra Ban...,NaN,(10.2k Reviews),Public,"Mumbai,Maharashtra + 419 more",19 years old,10k-50k employees (India)
20,Teleperformance,NaN,(7.5k Reviews),Private,Paris + 92 more,44 years old,50k-1 Lakh employees (India)
21,Tata Motors,NaN,(7.4k Reviews),Public,"Pune,Maharashtra + 349 more",77 years old,50k-1 Lakh employees (India)
22,Bharti Airtel,NaN,(10k Reviews),Public,"Gurgaon/Gurugram,Haryana + 425 more",27 years old,5k-10k employees (India)
23,Reliance Industrie...,NaN,(29.5k Reviews),Public,"Navi Mumbai,Maharashtra + 350 more",49 years old,1 Lakh+ employees (India)
24,Deloitte,NaN,(6.1k Reviews),Private,"New York,New York + 104 more",177 years old,10k-50k employees (India)
25,Mahindra & Mahindr...,NaN,(16.1k Reviews),Public,"Mumbai,Maharashtra + 350 more",77 years old,10k-50k employees (India)
26,IndusInd Bank,NaN,(5.3k Reviews),Public,"Gurgaon/Gurugram,Haryana + 472 more",28 years old,10k-50k employees (India)
27,Hinduja Global Sol...,NaN,(5.1k Reviews),Public,"Bangalore/Bengaluru,Karnataka + 67 more",22 years old,10k-50k employees (India)
28,Reliance Retail,NaN,(9.3k Reviews),Private,"Navi Mumbai,Maharashtra + 370 more",16 years old,1 Lakh+ employees (India)
29,WNS,NaN,(4.8k Reviews),Private,"Mumbai,Maharashtra + 19 more",26 years old,10k-50k employees (India)